<html>
<head>
    <title>{{ title }} {{# blogTitle }}| {{ blogTitle }}{{/ blogTitle }}</title>

    <!-- Spectre.css (UI) -->
    <link rel="stylesheet" href="assets/spectre-0.2.9.css">

    <!-- Moments.js (date/time formatting) -->
    <script src="assets/moment-2.18.1.js"></script>

    <link rel="stylesheet" href="assets/main.css">
</head>
<body>