{{> _html_header }}

<div class="container">
    <h3>Blog posts</h3>

{{# hasBlogPosts }}
    <dl>
    {{# blogPosts }}
        <dt><a href="{{ url }}">{{ title }}</a> <span class="text-normal">({{ pubDate }})</span></dt>
    {{/ blogPosts }}
    </dl>
{{/ hasBlogPosts }}

{{^ hasBlogPosts }}
    <p>There are no posts yet. :(</p>

    <p><small>Consider publishing some drafts.</small></p>
{{/ hasBlogPosts }}

</div>

{{> _html_footer }}