<html>
<head>
    <title>{{ title }} {{# blogTitle }}| {{ blogTitle }}{{/ blogTitle }}</title>

    <link rel="stylesheet" href="assets/spectre-0.2.9.css">

    <!-- Moments.js (date/time formatting) -->
    <script src="assets/moment-2.18.1.js"></script>
</head>
<body>
    <div class="columns">
        <!--<div class="column col-3">
            <div class="container">

                <ul>
                    {{# blogPosts }}
                        <li style="list-style-type: none;"><a href="{{ url }}">{{ title }}</a></li>
                    {{/ blogPosts }}
                </ul>

            </div>
        </div>-->

        <div class="column col-6 centered">

            <div class="container">
                <h3>{{ title }}</h3>

                    {{# pubdate }}
                        <p>Published: <time id="pub-time" class="tooltip tooltip-bottom" data-tooltip="{{ pubdateHint }}">{{ pubdateHint }}</time></p>
                    {{/ pubdate }}

                {{ content }}
            </div>

        </div>
    </div>

    <script>
        document.getElementById('pub-time').innerHTML = moment('{{ pubdate }}', 'YYYY-MM-DD').fromNow()
    </script>
</body>
</html>