{{> _html_header }}

<div class="container">
    <h3>{{ title }}</h3>

    {{# pubdate }}
    <p><small>Published: <time id="pub-time" class="tooltip tooltip-bottom" data-tooltip="{{ pubdateHint }}">{{ pubdateHint }}</time></small></p>
    {{/ pubdate }}

    {{# hasTags }}
    <p><small>Tags: {{# tags }}<span class="label label-primary mr-5">{{.}}</span>{{/tags}}</small></p>
    {{/ hasTags }}

    <hr/>

    <div class="text-justify">
        {{ content }}
    </div>

    <a href="index.html">Back to blog</a>

    <hr/>

    <ul class="pagination">
        {{# hasPrevPost }}
        <li class="page-item page-prev">
            <a href="{{ prevPost.url }}">
                <p class="page-item-subtitle">Prev</p>
                <h4 class="page-item-title">{{ prevPost.title }}</h4>
            </a>
        </li>
        {{/ hasPrevPost }}

        {{# hasNextPost }}
        <li class="page-item page-next">
            <a href="{{ nextPost.url }}">
                <p class="page-item-subtitle">Next</p>
                <h4 class="page-item-title">{{ nextPost.title }}</h4>
            </a>
        </li>
        {{/ hasNextPost }}
    </ul>

</div>

<script>
    document.getElementById('pub-time').innerHTML = moment('{{ pubdate }}', 'YYYY-MM-DD').fromNow()
</script>

{{> _html_footer }}